.subColumnTwo {
flex: 1 1;
}

.subheading {
font-size: 2em;
text-align: center;
}

.currentSeason {
text-align: center;
font-size: 1.2em;
font-weight: 500;
}

.navbar {
display: flex;
flex-direction: row;
justify-content: center;
}

.navbar a {
background-color: #228B22;
color: white;
padding: 0.5em 1em;
margin: 0.5em;
}

.navbar a:hover {
background-color: #008000;
color: white;
}
