.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subheading {
  font-size: 1.2em;
  text-align: center;
  margin: 1em 0;
}

@media (max-width: 1024px) {
  .container table {
    font-size: 12px;
  }
}
